.bg{
    background:url('../imagenes/back1.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    height: 100vh;
    width: 100vw;
    text-decoration: none;
}
.image{
    position: absolute;
    top: 4%;
    left: 3%;
}
.filtrarh1{
    position: absolute;
    top: 8%;
    left: 77%;
    font-family: 'Hammersmith One', sans-serif;
}

.filtro{
    position: absolute;
    top: 11%;
    left: 68%;
}
.type{
    display: inline-block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .2em 1.4em .2em .2em;
    width: 150px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    text-decoration: none;
}
.created{
    display: inline-block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .2em 1.4em .2em .2em;
    width: 150px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
}
.titulo{
    opacity: 0;
    position: relative;
    height: 102px;
}
.ord {
    display: inline-block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .2em 1.4em .2em .2em;
    width: 150px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
}

.pokedex{
    align-items: center;
    background-color: rgb(255, 0, 0, 0.4);
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
    text-decoration: none;
}
.follow{
    display: inline-block;
    height: px;
    text-decoration: none;
}
.buscador{
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 73%;
}
.buscadorh1{
    position: absolute;
    top: 0%;
    left: 79%;
    font-family: 'Hammersmith One', sans-serif;
}
.crear{
    position: absolute;
    top: 92%;
    left: 80%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    color: black;
    font-size: larger;
    font-family: 'Hammersmith One', sans-serif;
    height: 40px;
}

.crear:hover{
    background:rgb(255, 0, 0, 0.5);
    color: white;
}



.recargar{
    position: absolute;
    top: 95%;
    left: 43.6%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
}
.recargar:hover{
    background:rgb(255, 0, 0, 0.5);
    color: white;
}