.paginado {
	margin:0 0;
}

.paginado ul {
	list-style:none;
	text-align: center;
    
}

.borde{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    position: relative;
    top: 1%;
    left: 00%;
    
   
}
.paginado{
    position: absolute;
   top: 87%;
   left:50%;
   margin-left: -141.7px;
}

.paginado ul li {
	display:inline-block;
	margin-right:0px;
}

.paginado ul li a {
	display:block;
    align-content: center;
	padding:10px 20px;
	color:black;
	background:transparent;
	text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
}

.paginado ul li a:hover {
	background:rgb(255, 0, 0, 0.5);
    border-style: solid;
    color:white;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}

.paginado ul li .active {
	background:#037E8C;
	font-weight:bold;
}